$blueHoverColor: #1582ff;

.comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    // border: 1px solid red;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
    // background-color: #efeeee;
    background-color: white;
    box-shadow: 0 2px 2px #00000046;

    .header {
        display: grid;
        max-height: 50px;
        grid-template-columns: repeat(10, 1fr);

        .timestamp {
            // grid-area: 1/1/2/5;
            grid-area: 1/1/2/3;
            color: #868686;
            font-size: 14px;

            i {
                color: #868686;
                margin: 0 5px 0 3px;
            }
        }

        .posted-by {
            color: #868686;
            font-size: 14px;
        }

        .delete {
            display: flex;
            grid-area: 1/10/2/11;
            justify-content: center;
            align-items: center;

            i {
                color: #868686;
                cursor: pointer;
            }

            &:hover {
                i {
                    color: #ff4500;
                    transform: scale(1.3);
                }
            }
        }
    }

    .comment-content {
        display: flex;
        width: 100%;
        padding: 5px;
        background-color: white;
        color: #222121;
    }

    .additionals {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-top: 5px;

        .actions {
            display: grid;
            grid-template-columns: repeat(10, 1fr);

            .reply-action {
                grid-area: 1/10/2/11;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-bottom: 5px;

                &:hover {
                    i {
                        transform: scale(1.2);
                        color: $blueHoverColor;
                    }
                }

                i {
                    font-size: 14px;
                    color: #868686;
                }
            }
        }

        .abilities {
            display: flex;
            justify-content: flex-end;

            .reply {
                display: flex;
                flex-direction: column;
                margin-bottom: 5px;
                width: 97%;

                input {
                    width: 100%;
                    padding: 3px 4px;
                    font-size: 14px;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    outline: none;
                    transition: border-color 0.3s ease, box-shadow 0.3s ease;
                  }
                  
                  input:focus {
                    border-color: #007bff;
                    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                  }
                  
                  input::placeholder {
                    color: #aaa;
                    font-style: italic;
                  }

                .reply-controls {
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 10px;
                    column-gap: 10px;
                    margin: 5px 0;
                    div {
                        display: flex;
                        cursor: pointer;
                        justify-content: center;
                        font-size: 14px;
                
                        i {
                            margin-right: 5px;
                            color: #868686;
                        }
                
                        small {
                            color: #868686;
                        }
                
                        &:hover {
                
                            i {
                                color: $blueHoverColor;
                            }
                
                            small {
                                color: #030303;
                            }
                        }
                    }
                }
            }
        }
    }

    .replies {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
        padding: 0 10px 10px 0;
        row-gap: 10px;

        .reply {
            display: grid;
            width: 97%;
            box-shadow: 0 2px 2px #00000046;
            border: 1px solid #e9e8e8;
            border-radius: 5px;
            padding: 2px;
        }
    }
}