$navLinkHoverColor: #d0e3f3;

.nav {
    display: grid;
    height: 100%;
    width: 250px;
    max-width: 250px;
    background-color: #f0eeee;

    grid-template-rows: repeat(12, 50px);
}

.nav {
    header {
        display: flex;
        // background-color: rgb(244, 192, 115);
        grid-area: 1/1/2/2;
        justify-content: center;
        align-items: center;
    }

    .body {
        display: grid;
        grid-area: 2/1/12/2;
        row-gap: 15px;
        grid-template-rows: repeat(10, 1fr);
        padding: 10px;

        // Mass selection
        [class*="nav-link-"] {
            display: flex;
            border: none;
            border-radius: 10px;
            align-items: center;
            justify-content: flex-start;
            font-size: 16px;
            padding-left: 10px;

            i {
                padding-right: 15px;
            }

            .custom-icon {
                width: 25px;
                margin-right: 10px;
                color: white;
                padding: 5px;
                border-radius: 5px;
            }

            // Edit category names button
            .bi.bi-pencil-square {
                display: none;
                position: absolute;
                top: 0px;
                right: -15px;
                color: gray;
            }

            .bi.bi-x-lg,
            .bi.bi-check-lg {
                position: absolute;
                bottom: -15px;
                cursor: pointer;
            }

            .bi.bi-x-lg {
                right: 35px;
            }

            .bi.bi-check-lg {
                right: 10px;
                font-size: 18px;
            }

            input {
                border: none;
                background-color: transparent;
                max-width: 180px;
                font-size: 16px;
                outline: none;
                color: black;
                padding-bottom: 2px;
                border-bottom: 1px solid gray;
            }
        }

        [class*="nav-link-"]:hover {
            background-color: $navLinkHoverColor;
            transition: 0.5s;

            .bi.bi-x-lg,
            .bi.bi-check-lg,
            .bi.bi-pencil-square {
                display: flex;
                cursor: pointer;
                &:hover {
                    color: blue;
                }
            }
        }

        .nav-link-1 {
            grid-area: 2/1/3/2;
        }

        .nav-link-2 {
            grid-area: 3/1/4/2;
        }

        .nav-link-3 {
            grid-area: 4/1/5/2;
        }

        .nav-link-4 {
            position: relative;
            grid-area: 6/1/7/2;
        }

        .nav-link-5 {
            position: relative;
            grid-area: 7/1/8/2;
        }

        .nav-link-6 {
            position: relative;
            grid-area: 8/1/9/2;
        }

        .nav-link-7 {
            position: relative;
            grid-area: 9/1/10/2;
        }

        .nav-link-8 {
            position: relative;
            grid-area: 10/1/11/2;
        }

        .wrapper-create-nav-links {
            font-size: 16px;
            grid-area: 5/1/6/2;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-radius: 10px;
            border: none;
            padding-left: 10px;
            position: relative;

            i {
                padding-right: 15px;
            }

            .add-more-text {
                position: absolute;
                opacity: 0;
                right: -100px;
                transition: right 0.3s ease-in-out;
            }

            &:hover {
                justify-content: flex-start;
                background-color: $navLinkHoverColor;

                .add-more-text {
                    right: 120px;
                    opacity: 1;
                }
            }
        }
    }
}