.profile-page {
    display: grid;
    width: 100%;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            padding: 10px;

            h4 {
                font-weight: 600;
            }
        }

        .description {
            padding: 10px;
            color: #242323;

            h4 {
                font-weight: 500;
                padding: 10px;
            }

            .functionality {
                padding-left: 30px;
            }
        }
    }


    .body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .left {
            display: grid;
            grid-area: 1/1/2/2;
            grid-template-areas: 
            "element1 element2"
            "element3 element4"
            "element5 element6"
            "element7 element8";
            gap: 10px;
            padding: 0 5px 0 5px;

            .user {
                padding: 10px;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 8px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                max-height: 150px;
                cursor: pointer;

                &:hover {
                  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
                }

                // Override the ProfileIcon scss
                .profile-icon {
                    grid-template-columns: repeat(2, 1fr);

                    .name {
                        justify-self: center;
                        align-self: center;
                    }
                }

                &:nth-child(1) {
                    grid-area: element1;
                }

                &:nth-child(2) {
                    grid-area: element2;
                }
                &:nth-child(3) {
                    grid-area: element3;
                }

                &:nth-child(4) {
                    grid-area: element4;
                }
                &:nth-child(5) {
                    grid-area: element5;
                }

                &:nth-child(6) {
                    grid-area: element6;
                }
                &:nth-child(7) {
                    grid-area: element7;
                }

                &:nth-child(8) {
                    grid-area: element8;
                }

            }
        }

        .right {
            grid-area: 1/2/2/3;
            display: grid;
            max-height: 400px;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(6, 1fr);

            .card {
                display: grid;
                grid-area: 1/2/7/6;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 8px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                grid-template-rows: repeat(3, 1fr);


                &:hover {
                  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
                }

                .short-details {
                    display: grid;
                    grid-area: 1/1/2/2;
                    grid-template-columns: repeat(2, 1fr);
                    padding: 3px 3px 0 0;


                    .details-left {
                        display: grid;
                        grid-area: 1/1/2/2;
                        padding: 5px;

                        img {
                            display: flex;
                            max-height: 100px;
                            max-width: 100px;
                            min-height: 100px;
                            min-width: 100px;
                            border-radius: 50%;
                            align-self: center;
                            justify-self: center;
                        }
                    }

                    .details-right {
                        grid-area: 1/2/2/3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;

                        font-weight: 500;
                        background-color:#efeded;
                        border-top-right-radius: 5px;
                        padding-left: 5px;
                    }
                }

                .large-details {
                    grid-area: 2/1/4/2;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(8, 1fr);
                    padding: 4px 3px 3px 3px;
                    row-gap: 4px;
                    .description {
                        display: flex;
                        grid-area: 1/1/4/5;
                        justify-content: center;
                        align-items: center;
                        padding-left: 10px;
                        font-style: italic;
                        color: #222121;
                        border-radius: 5px;
                        background-color:#efeded;
                    }

                    .stack {
                        grid-area: 4/1/9/3;
                        border-bottom-left-radius: 5px;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        background-color:#efeded;

                        strong {
                            font-weight: 500;
                            padding: 2px;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            height: 100%;
                            font-style: oblique;
                        }
                    }

                    .perks {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        grid-area: 4/3/9/5;
                        border-bottom-right-radius: 5px;
                        background-color:#efeded;

                        strong {
                            font-weight: 500;
                            padding: 2px;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            height: 100%;
                            font-style: oblique;
                        }
                    }
                }
            }
        }
    }
}